{% extends 'base.html.twig' %}

{% block title %}Edit Subscription Package{% endblock %}

{% block body %}
    <h1>Edit Subscription Package</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Save" class="btn btn-primary">
    {{ form_end(form) }}

    <a href="{{ path('app_subscription_package_show', {'id': subscription_package.id}) }}">back to show</a>
    {{ include('subscription_package/_delete_form.html.twig') }}
{% endblock %}