{% extends 'base.html.twig' %}

{% block title %}Edit Order{% endblock %}

{% block body %}
    <h1>Edit Order</h1>

    {% for message in app.flashes('error') %}
        <div class="alert alert-danger">
            {{ message }}
        </div>
    {% endfor %}

    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Save" class="btn btn-primary">
    {{ form_end(form) }}

    <a href="{{ path('app_order_show', {'id': order.id}) }}">back to show</a>
    {{ include('order/_delete_form.html.twig') }}
    
    <h2>Manage Articles</h2>
    <div id="article-list">
        {% for article in order.articles %}
            <p>{{ article.name }} - {{ article.price }}</p>
        {% else %}
            <p>No articles in this order</p>
        {% endfor %}
    </div>
    
    <a href="{{ path('app_article_new') }}" class="btn btn-success">Add New Article</a>
{% endblock %}