{% extends 'base.html.twig' %}

{% block title %}Orders{% endblock %}

{% block body %}
    <h1>Orders</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>OrderNumber</th>
                <th>CustomerPhoneNumber</th>
                <th>OrderStatus</th>
                <th>Price</th>
                <th>DateCreated</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for order in orders %}
            <tr>
                <td>{{ order.id }}</td>
                <td>{{ order.orderNumber }}</td>
                <td>{{ order.customerPhoneNumber }}</td>
                <td>{{ order.orderStatus }}</td>
                <td>{{ order.price }}</td>
                <td>{{ order.dateCreated ? order.dateCreated|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_order_show', {'id': order.id}) }}">show</a>
                    <a href="{{ path('app_order_edit', {'id': order.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_order_new') }}">Create new</a>
{% endblock %}